<p style="color: green"><%= notice %></p>
<div class="row justify-content-end">
  <div class="col-9">
    <%= form_with class:"row g-2", url:"/providers", method: :get do |form| %>
      <div class="col-9">
        <%= form.text_field :query, placeholder: 'Fornecedor por Nome:', class:"form-control" %>
      </div>
      <div class="col-auto">
        <%= form.submit "Pesquisar", class:"btn btn-secondary" %>
      </div>
  <%end%>
  </div>
</div>
<hr>
<div class="container">
  <h1>Fornecedores</h1>
  <%= link_to "Cadastrar Fornecedor", new_provider_path, class:"btn btn-success" %>
  <hr>
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
    <%@providers.each do |pr| %>
      <tr>
        <td><%=pr.name%></td>
        <td><%=pr.cnpj%></td>
        <td><%=link_to "Editar", edit_provider_path(pr), class:"btn btn-secondary"%></td>
        <td><%=button_to "Excluir", pr, method: :delete, class:"btn btn-danger"%></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
